{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
        #content-main {
          width: 100%;
          background-color: rgba(0, 0, 255, 0.3);
        }

        #content-related {
          background-color: rgba(255, 0, 0, 0.3);
        }

        #header {
          height: 100px;
          background-color: rgba(255, 0, 0, 0.8);
        }

        #branding {
          float: left;
        }

        #user-tools {
          float: right;
        }
    </style>
{% endblock %}